{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Route Map</title>
    <meta charset="utf-8">
    <style>
        #map-route {
            height: 80vh;
            width: 100%;
        }
    </style>
    <!-- Include Google Maps JavaScript API -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ google_api_key }}&libraries=places"></script>
</head>
<body>
    <div id="map-route"></div>

    <!-- Variables passed from Django to JavaScript -->
    <script type="text/javascript">
        var google_api_key = "{{ google_api_key|safe }}";
        var lat_a = "{{ lat_a|default:''|safe }}";
        var long_a = "{{ long_a|default:''|safe }}";
        var lat_b = "{{ lat_b|default:''|safe }}";
        var long_b = "{{ long_b|default:''|safe }}";
        var origin = "{{ origin|default:''|safe }}";
        var destination = "{{ destination|default:''|safe }}";
    </script>

    <!-- Include your map.js file -->
    <script src="{% static 'js/map.js' %}"></script>
</body>
</html>